In [1]:
import pandas as pd

<hr>

# csvの読み込み

事前にcsvのファイルと中身表示

In [3]:
with open('csv/read_sample.csv','r') as f:
    print(f.read())

index,name,yen
1,apple,120
2,banana,100
3,orange,80

<hr>
<hr>

###  pandasを使ってcsvを読み込む

In [7]:
df = pd.read_csv('csv/read_sample.csv')
df

   index    name  yen
0      1   apple  120
1      2  banana  100
2      3  orange   80

read_csvでcsvを読み込んだ時、デフォルトで１行目はヘッダーとして認識されて読み込まれる。

ヘッダーを認識させたくないときは、read_csvの引数headerをNoneにして実行する。

In [8]:
df = pd.read_csv('csv/read_sample.csv',header=None)
df

       0       1    2
0  index    name  yen
1      1   apple  120
2      2  banana  100
3      3  orange   80

読み込まれたデータは**pandas.DataFrame**型のデータとなる。