# scikit-learn

In [29]:
import sklearn
import pandas as pd

## データ作成

In [26]:
#データ再読み込み
df = pd.read_csv('csv/read_sample2.csv')
df

   index        name  yen  stock  weight
0      1       apple  120    200      50
1      2      banana  100    300      30
2      3      orange   80    400      30
3      4       grape  100    100      40
4      5       lemon   50    400      20
5      6       peach   70    200      20
6      7       melon  200     50     100
7      8  strawberry   10    500      10
8      9      durian  500     20     100

In [27]:
df_x_train=df.drop(['stock'],axis=1)[:len(df)//2]
df_x_test =df.drop(['stock'],axis=1)[len(df)//2:]
df_y_train=df.loc[:,['index','stock']][:len(df)//2]
df_y_test =df.loc[:,['index','stock']][len(df)//2:]
df_x_train.to_csv('csv/sample2_x_train.csv',index=False)
df_x_test.to_csv('csv/sample2_x_test.csv',index=False)
df_y_train.to_csv('csv/sample2_y_train.csv',index=False)
df_y_test.to_csv('csv/sample2_y_test.csv',index=False)

   index    name  yen  weight
0      1   apple  120      50
1      2  banana  100      30
2      3  orange   80      30
3      4   grape  100      40

<hr>
<hr>

## ロジスティック回帰

In [3]:
from sklearn.linear_model import LogisticRegression

### 解析器の用意

In [4]:
#解析器
clf = LogisticRegression(penalty='l2',solver='sag',random_state=0)